<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.TextTemplating.VSHost" version="17.6.36389" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Validation" version="17.6.11" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
</packages>